{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "array-bracket-spacing": ["warn", "never"],
    "arrow-parens": ["warn", "always"],
    "arrow-spacing": "warn",
    "block-spacing": "error",
    "brace-style": ["warn", "1tbs"],
    "comma-dangle": ["warn", "always-multiline"],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "curly": ["warn", "multi-line"],
    "dot-location": ["warn", "property"],
    "eqeqeq": ["error", "smart"],
    "no-cond-assign": "error",
    "no-console": "warn",
    "no-const-assign": "error",
    "no-constant-condition": "warn",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-semi": "error",
    "no-fallthrough": "warn",
    "no-func-assign": "error",
    "no-invalid-this": "error",
    "no-irregular-whitespace": "error",
    "no-labels": "warn",
    "no-lone-blocks": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": ["warn", {"max": 1}],
    "no-sparse-arrays": "error",
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-unneeded-ternary": "warn",
    "no-unused-vars": ["warn"],
    "no-use-before-define": "error",
    "no-var": "error",
    "object-curly-spacing": ["warn", "never"],
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "semi": ["warn", "never"],
    "quotes": ["warn", "double"]
  }
}
