{
  "extends": "lusk",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    "object-curly-spacing": ["warn", "never"],
    "array-bracket-spacing": ["warn", "never"],
    "semi": ["warn", "never"],
    "quotes": ["warn", "double"],
  }
}
